<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WinLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <WinLauncher.Properties.Settings>
            <setting name="Init" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="appListMarginRight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="appListMarginBottom" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="autoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="searchOpenFirst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="appIconSize" serializeAs="String">
                <value>32x32</value>
            </setting>
            <setting name="searchDelay" serializeAs="String">
                <value>1000</value>
            </setting>
        </WinLauncher.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>